* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: helvetica;
}

body {
    min-height: 100vh;
    background-image: linear-gradient(to left top, #30093bef ,#0000006c, #000039b8,#1b1521c6);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3em;
    background-size: 500% 100%;
    animation: gradiente 5s infinite alternate;

}

#calc {
    width: 400px;
    padding: .5em;
    background-color: #c4c4c4;
    color: #000;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

#calc h3 {
    font-size: .6em;
    font-weight: 300;
    color: #666;
}

#operation {
    text-align: right;
}

#previous-operantion,
#curret-operantion {
    min-height: 1.6em;
    padding: .2em;
    overflow-wrap: break-word;
}

#previous-operantion {
    color: #777;
}

#curret-operantion {
    font-size: 3em;
    font-weight: 700;
}

#button-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 3px;
}

#button-container button {
    border: 1px solid transparent;
    height: 4em;
    font-size: 1.2em;
    background-color: #dbdbdb;
    cursor: pointer;
}

#calc #button-container button {
    border-radius: 10px;
    border-radius: 10px; 
    box-shadow: 1px 1px 1px #4356ea;
}

#button-container .number {
    background-color: #f3f3f3;
}

#button-container button:hover {
    background-color: #bababa;
    border-color: #999;
}

#button-container #equal-btn {
    grid-column: span 2;
    background-image: linear-gradient(to left top,#30093bef ,#0000006c, #000039b8,#1b1521c6);
    color: #ffffff;
}

#button-container #equal-btn:hover {
    background-color: #7f8e99d0;

}

@keyframes gradiente {
    0% {
        background-position-x: 0%;
    }
    100% {
        background-position-x: 100%;
    }
}